<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body> 
    
    <header>
        {{!-- <button ></button> --}}
        <h1 id="one">WELCOME   &nbsp;  TO  &nbsp;  THAPAREX - <br> College Exchange Portal</h1>
        <h2 id="one">Buy and Sell Items Within Your College Community</h2>
        {{!-- <img  src="thaparexlogo.jpg"alt=""> --}}
        <img id="pic" src="images/thaparexlogo.jpg" accept="image/jpeg" alt="">
    </header>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search...">
        <button onclick="search()">Search</button>
         <button class  ="logout-button" id="logout-btn"><a href="/logout">logout</a></button>
    </div>
   
    <nav>
        <a href="#">Electronics</a>
        <a href="#">Sports Fitness Equipment</a>
        <a href="#>Study Materials</a>
        <a href="#">Vehicles</a>
        <a href="#">Miscellaneous</a>
    </nav> 
    
<div class="add-product-form">
    <input type="text" id="productName" placeholder="Product Name">
    <input type="text" id="productPrice" placeholder="Product Price">
    <input type="text" id="productDescription" placeholder="Product Description">
    <input type="file" id="productImage" accept="image/png,image/jpeg">
    {{!-- <input accept="image/png, image/jpeg" type="file" multiple="" autocomplete="off" id="productImage" style="display: none;"> --}}
    {{!-- <button id="add-image">Add image</button> --}}
    <button id="addProductButton">Add Products</button>

    {{!-- <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20" >
                    <path  style="height: 100px;width: 100px;" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                </svg> --}}
    <i class="fa-solid fa-cart-shopping"></i>

</div>
{{!-- Products : --}}



   <div class="wrapper">
      <div id="search-container">
        <input
          type="search"
          id="search-input"
          placeholder="Search product name here.."
        />
        <button id="search">Search</button>
      </div>
      <div id="buttons">
        <button class="button-value" onclick="filterProduct('all')">All</button>
        <button class="button-value" onclick="filterProduct('Topwear')">
          Topwear
        </button>
        <button class="button-value" onclick="filterProduct('Bottomwear')">
          Bottomwear
        </button>
        <button class="button-value" onclick="filterProduct('Jacket')">
          Jacket
        </button>
        <button class="button-value" onclick="filterProduct('Watch')">
          Watch
        </button>
      </div>
      <div id="products"></div>
    </div>


<footer>
    <div class="footer-container">
        <div class="owner-info">
            <h3>Owner: <br> Yash Kumar</h3>
            <p>Contact: 8369843496</p>
            <p>Email: yashkumarhoppkins@gmail.com</p>
        </div>
        <div class="social-media">
            <h3><u>Follow us on:</u> </h3>
            <a href="https://www.instagram.com/y.a.s.h__k.u.m.a.r__/" target="_blank" title="Instagram">
          
                <img src="images/instaa.png" alt="Instagram">
            </a>
            {{!-- <a href="https://www.youtube.com/channel/UCb3CFGx8isxzyp4iVY1ZL2Q" target="_blank" title="YouTube">
                <img src="images/youtubee.jpg" alt="YouTube">
            </a> --}}
        </div>
    </div>
</footer>
</section>

<script>

console.log("Welcome");

const addProductBtn2 = document.getElementById('addProductButton')

function addProduct() {
    console.log('add product called')
    const productName = document.getElementById('productName').value;
    
    const productPrice = document.getElementById('productPrice').value;
    console.log('fn2 called')
    const productDescription = document.getElementById('productDescription').value;
    console.log('fn3 called')
    const productImageInput = document.getElementById('productImage');
    console.log('fn4 called')
    const productImage = productImageInput.files[0]; 
    updateMiscellaneous(productPrice, productDescription, productImage);

    document.getElementById('productPrice').value = "";
    document.getElementById('productDescription').value = "";
    productImageInput.value = ""; 

    {{!-- products.data.push({
                productName,
                category: productDescription,
                price: productPrice,
                image: "/images/instaa.png",
            },) --}}
}


addProductBtn2.addEventListener("click", () => {
    console.log("another fn callled")
    addProduct();
})
  console.log("THis iscode");



function updateMiscellaneous(name, description, image) 
    {
        const productContainer = document.createElement('div');
        productContainer.classList.add('product');

        const descriptionElement = document.createElement('p');
        descriptionElement.textContent = `Description: ${description}`;
        productContainer.appendChild(descriptionElement);

        const nameElement = document.createElement('p');
        nameElement.textContent = `Price: ${name}`;
        productContainer.appendChild(nameElement);

        if (image) {
            const imageElement = document.createElement('img');
            imageElement.src = URL.createObjectURL(image);
            imageElement.alt = 'Product Image';
            imageElement.style.maxWidth = '300px';
            imageElement.style.maxHeight = '300px';
            productContainer.appendChild(imageElement);
        }
        

        document.getElementById('wrapper').appendChild(productContainer);

        }


        console.log("THis iscode");









        let products = {
            data: [
            {
                productName: "Regular White T-Shirt",
                category: "Topwear",
                price: "30",
                image: "/images/instaa.png",
            },
            {
                productName: "Beige Short Skirt",
                category: "Bottomwear",
                price: "49",
                image: "/images/2.png",
            },
            {
                productName: "Sporty SmartWatch",
                category: "Watch",
                price: "99",
                image: "/images/3.png",
            },
            {
                productName: "Basic Knitted Top",
                category: "Topwear",
                price: "29",
                image: "/images/4.png",
            },
            {
                productName: "Black Leather Jacket",
                category: "Jacket",
                price: "129",
                image: "/images/5.png",
            },
            {
                productName: "Stylish Pink Trousers",
                category: "Bottomwear",
                price: "89",
                image: "/images/6.png",
            },
            {
                productName: "Brown Men's Jacket",
                category: "Jacket",
                price: "189",
                image: "/images/7.png",
            },
            {
                productName: "Comfy Gray Pants",
                category: "Bottomwear",
                price: "49",
                image: "/images/8.png",
            },
            ],
        };
        
        console.log("THis is the new code");
        for (let i of products.data) {
            let card = document.createElement("div");
            card.classList.add("card", i.category, "hide");
            let imgContainer = document.createElement("div");
            imgContainer.classList.add("image-container");
            let image = document.createElement("img");
            image.setAttribute("src", i.image);
            imgContainer.appendChild(image);
            card.appendChild(imgContainer);

        console.log("THis is inside the for loop");
            
            let container = document.createElement("div");
            container.classList.add("container");
            let name = document.createElement("h5");
            name.classList.add("product-name");
            name.innerText = i.productName.toUpperCase();
            container.appendChild(name);
            let price = document.createElement("h6");
            price.innerText =  i.price + "Rs";
            container.appendChild(price);
        
            card.appendChild(container);
            document.getElementById("products").appendChild(card);
        }
        
        function filterProduct(value) {
            let buttons = document.querySelectorAll(".button-value");
            buttons.forEach((button) => {
            if (value.toUpperCase() == button.innerText.toUpperCase()) {
                button.classList.add("active");
            } else {
                button.classList.remove("active");
            }
            });
        
            let elements = document.querySelectorAll(".card");
            elements.forEach((element) => {
            if (value == "all") {
                element.classList.remove("hide");
            } else {
                if (element.classList.contains(value)) {
                element.classList.remove("hide");
                } else {
                element.classList.add("hide");
                }
            }
            });
        }
        
        document.getElementById("search").addEventListener("click", () => {
            let searchInput = document.getElementById("search-input").value;
            let elements = document.querySelectorAll(".product-name");
            let cards = document.querySelectorAll(".card");
        
            elements.forEach((element, index) => {
            if (element.innerText.includes(searchInput.toUpperCase())) {
                cards[index].classList.remove("hide");
            } else {
                cards[index].classList.add("hide");
            }
            });
        });
        
        window.onload = () => {
            filterProduct("all");
        };

</script>

    {{!-- <script src="script.js"></script> --}}

</body>
</html>